@model HRPortal.Models.IndexViewModel
@using HRPortal.Helper;
@{
    ViewBag.Title = "Manage System";
    var role = HelperFuntions.HasValue(HttpContext.Current.Session[CacheKey.RoleName.ToString()]).ToUpper();
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    @*<h4>Change your account settings</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            <br />
        </dd>
        
        @if (role.Contains("ADMIN") || role.Contains("SUPERUSER"))
        {
        <dt>Register User:</dt>
        <dd>
              @*@Html.ActionLink("User List", "UserList", "Manage")*@
                @Html.ActionLink("New User", "GetAllUsers", "Account")
            <br />
        </dd>
        }
        @if (role.Contains("ADMIN"))
        {
        <dt>Staffing Master:</dt>
        <dd>
            @Html.ActionLink("Staffing Partner", "Index", "Vendor")
        </dd>
        }

    </dl>
</div>
