@model HRPortal.Models.JobAndCandidateViewModels
@using HRPortal.Helper;

@{
    ViewBag.Title = "Home Page";
    bool isSuperAdmin = HelperFuntions.HasValue(CookieStore.GetCookie(CacheKey.RoleName.ToString())).ToUpper().Contains("ADMIN") ? true : false;
}

<div class="row">
    <div class="col-md-4">
        <br />
        @if (isSuperAdmin)
        {
            @Html.Partial("_SearchCriteria")
            @*@Html.DropDownListFor(m => m.ddlStatusId, new SelectList(Model.StatusList, "Value", "Text"), "-- Select a Status --", new { @class = "form-control", style = "width: 250px;", onchange = "this.form.submit();" })*@
            @Html.Partial("_CandidateList", Model.CandidateItems)
        }
        else {
            @Html.Partial("_SearchCriteria")
            @Html.Partial("_JobList", Model.JobItems)
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap-multiselect.css" type="text/css" />

<script lang="ja" type="text/javascript">
    $(document).ready(function () {
        $('.date-picker').datetimepicker({
            format: 'MM/DD/YYYY'
        });

        $('#ddlCriteriaVendor').multiselect(
            {
                includeSelectAllOption: true,
                enableCaseInsensitiveFiltering: true,
                nonSelectedText: '-- Select Partner --'
                //  onChange: function(option, checked, select) {
              //if (checked === true) {
              //  //action taken here if true
              //  alert('Checked' + checked + '.');
              //  alert('Changed option ' + $(option).val() + '.');
              //  } },
            });

        $('#ddlCriteriaPosition').multiselect(
            {
                includeSelectAllOption: true,
                enableCaseInsensitiveFiltering: true,
                nonSelectedText: '-- Select Position --'
            });
      
        //var PosiIds = "";
        //$("#ddlCriteriaPosition").each(function () {
        //    if ($(this).is(":checked")) {
        //        var userid = $(this).attr("value");
        //        PosiIds = PosiIds + userid + ',';
        //    }
        //});
        //$("#PositionIds").val(PosiIds);

        window.myPanel = function (data) {
            $(".candidate-name").text(data.dataset.customName);
            $("#hdnCandidateId").val(data.dataset.customValue);
            var currentSts = $("#btnStsPnl_" + data.dataset.customValue + "").text();
            $("#ddlStatusList option:contains(" + currentSts + ")").attr("selected", true);
            $("#txtStsComments").val("");
            $("#btnStatus").removeAttr("data-dismiss", "modal");
        };

        window.fnBtnStatusClick = function () {
            if ($("#ddlStatusList").val() == "") {
                $("#errMsgModal").text("Please select a status to change.");
                $("#ddlStatusList").focus();
                return false;
            }
            else if ($("#txtStsComments").val() == "") {
                $("#errMsgModal").text("Please write a comments to change.");
                $("#txtStsComments").focus();
                return false;
            }
            else {
                $.get("/Home/StatusUpdate", { id: $("#hdnCandidateId").val(), status: $("#ddlStatusList").val(), comments: $("#txtStsComments").val() },
                    function (data) {
                        $("#btnStsPnl_" + $("#hdnCandidateId").val() + "").text($("#ddlStatusList option:selected").text());
                    });
                $("#btnStatus").attr("data-dismiss", "modal");
            }
        };

        $('#CollapseMe').click(function () {
            $(this).hasClass('glyphicon-triangle-bottom') ? $(this).removeClass('glyphicon-triangle-bottom') && $(this).addClass('glyphicon-triangle-top') : $(this).removeClass('glyphicon-triangle-top') && $(this).addClass('glyphicon-triangle-bottom');
        });

        $("#btnSearchCriteria").click(function () {
            var vendor = $("#ddlCriteriaVendor").val() == null ? "" : $("#ddlCriteriaVendor").val().join(','), position = $("#ddlCriteriaPosition").val() == null ? "" : $("#ddlCriteriaPosition").val().join(',');
            $.get("/Home/SearchCriteria", { name: $("#txtCriteriaCanName").val(), vendor: vendor, position: position, status: $("#ddlStatusSearchList").val(), stdt: $("#txtCriteriaStDate").val(), edt: $("#txtCriteriaEndDate").val() }, function (data) {
                $("#CandidatesPartial").html(data);
            });
        });

        $("#btnSearchCriteriaJob").click(function () {  
            $.get("/Home/SearchCriteria", { name: $("#txtPositionName").val(), vendor: "", status: "", stdt: $("#txtPublishedStDate").val(), edt: $("#txtPublishedEndDate").val() }, function (data) {
                $("#JobDetailsPartial").html(data);
            });
        });
    });
</script>
}