@model JOBPOSTING

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2 align="center">Create A New Job</h2>


@using (Html.BeginForm("Create", "Job", FormMethod.Post, new { enctype = "multipart/form-data", @Id = "JobForm" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>JOBPOSTING</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group form-group-required">
            @Html.LabelFor(model => model.POSITION_NAME, "POSITION NAME", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.POSITION_NAME, new { htmlAttributes = new { @class = "form-control", @required = "mandatory" } })
                @Html.ValidationMessageFor(model => model.POSITION_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group form-group-required">
            @Html.LabelFor(model => model.JOB_DESCRIPTION, "JOB DESCRIPTION", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.JOB_DESCRIPTION, new { @class= "textarea-input-custom", @required = "mandatory"})
                <br />
                @Html.ValidationMessageFor(model => model.JOB_DESCRIPTION, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group form-group-required">
            @Html.LabelFor(model => model.NO_OF_VACANCIES, "NO OF VACANCIES", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NO_OF_VACANCIES, new { htmlAttributes = new { @class = "form-control", @required = "mandatory" } })
                @*@Html.ValidationMessageFor(model => model.NO_OF_VACANCIES, "", new { @class = "text-danger" })*@
                <span align="right" id="errMsgNoOfVacan" class="text-danger"></span>
            </div>
        </div>
      @*  <div class="form-group form-group-required">
         @Html.Label("PARTNER", htmlAttributes: new { @class = "control-label col-md-2" })
         <div class="col-md-10">
             @Html.DropDownList("ddlVendorList", (SelectList)ViewBag.VendorList, new { multiple = "multiple" })
             <span align="right" id="errMsgPartner" class="text-danger"></span>
         </div>
     </div>

    <div class="form-group form-group-required hide">
         @Html.Label("POSITION TYPE", new { @class = "col-md-2 control-label" })
         <div class="col-md-10">
             <div class="checkbox">
                 <span><input type="radio" id="rdoTypeP" name="PositionType" checked="checked" value="P" />Permanent</span>
                 <span><input type="radio" id="rdoTypeC" name="PositionType" value="C" />Contract</span>
                 <span><input type="radio" id="rdoTypeB" name="PositionType" value="B" />Both</span>
             </div>
         </div>
     </div>*@

        <div class="form-group form-group-required">
            @Html.LabelFor(model => model.CUSTOMER_NAME, "CUSTOMER NAME", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CUSTOMER_NAME, new { htmlAttributes = new { @class = "form-control", @required = "mandatory" } })
                @Html.ValidationMessageFor(model => model.CUSTOMER_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group form-group-required">
            @Html.LabelFor(model => model.YEARS_OF_EXP_TOTAL,"TOTAL EXPERIENCE", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.YEARS_OF_EXP_TOTAL, new { htmlAttributes = new { @class = "form-control", @required = "mandatory",@placeholder="min-max" } })
                @Html.ValidationMessageFor(model => model.YEARS_OF_EXP_TOTAL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.YEARS_OF_EXP_RELEVANT,"RELEVANT EXPERIENCE", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.YEARS_OF_EXP_RELEVANT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.YEARS_OF_EXP_RELEVANT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group form-group-required">
            @Html.LabelFor(model => model.WORK_LOCATION,"WORK LOCATION", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WORK_LOCATION, new { htmlAttributes = new { @class = "form-control", @Value = "Bangalore", @required = "mandatory" } })
                @Html.ValidationMessageFor(model => model.WORK_LOCATION, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.COMMENTS, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.COMMENTS, new { @class = "textarea-input-custom" })
                @Html.ValidationMessageFor(model => model.COMMENTS, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <label for="file" class="control-label col-md-2">JD UPLOAD </label>
            <div class="col-md-10">
                <input class="form-control" type="file" name="file" id="file" />
                <span align="right" id="errMsgJDUpload" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="btnJobCreate" value="Create" class="btn btn-default" />
                <input type="button" value="Clear" onclick="this.form.reset()" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts {
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap-multiselect.css" type="text/css" />
<script lang="ja" type="text/javascript">
    $(document).ready(function () {
        $("#btnJobCreate").click(function () {
            if ($("#NO_OF_VACANCIES").val() == "")
                $("#errMsgNoOfVacan").text("This field is required.");
            else if ($("#ddlVendorList").val() == null || $("#ddlVendorList").val() == "")
                $("#errMsgPartner").text("This field is required.");
        });

        $('#ddlVendorList').multiselect(
            {
                includeSelectAllOption: true,
                enableCaseInsensitiveFiltering: true,
                nonSelectedText: '--Select Partner--'
            });
        $("#ddlVendorList").multiselect('selectAll', false);
        $("#ddlVendorList").multiselect('updateButtonText');
    });
</script>
}