@using HRPortal.Helper
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav dropdown">
        <li class="dropdown">
            <a class="dropdown-toggle" href="@Url.Action("Index","Manage")">
                @(HttpRuntime.Cache.Get(CacheKey.UserName.ToString()) != null ? HttpRuntime.Cache.Get(CacheKey.UserName.ToString()).ToString() : User.Identity.Name)
                <i class="glyphicon glyphicon-user"></i> <b class="caret"></b>
            </a>
            @*<ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="@Url.Action("ChangePassword","Manage")"><i class="glyphicon glyphicon-user"></i> User Profile</a>
                </li>
                <li>
                    <a href="#"><i class="glyphicon glyphicon-cog"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>*@
            <!-- /.dropdown-user -->
        </li>
        @*<li  class="dropdown">
            @Html.ActionLink("Logged in as : " + (HttpRuntime.Cache.Get(CacheKey.UserName.ToString()) != null ? HttpRuntime.Cache.Get(CacheKey.UserName.ToString()).ToString() : User.Identity.Name), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage Account"})
            <i class="fa fa-caret-down glyphicon glyphicon-triangle-bottom"></i>
         </li>*@
        <li><a class="" title="Click To Log Off" href="javascript:document.getElementById('logoutForm').submit()">Log Out  <i class="glyphicon glyphicon-log-out"></i></a></li>
    </ul>
    }
    @*<br />
    <div class="row">
        <div class="col-sm-offset-5">
            <div class="input-group col-lg-5">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default glyphicon-serach-home glyphicon-search" type="submit"></button>
                </span>
            </div>
        </div>
    </div>*@
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
}

