@model  IEnumerable<HRPortal.Models.CandidateViewModels>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    var currDt = ViewBag.CurrDateSel == null ? DateTime.Now.ToString("dd-MMM-yyyy") : ViewBag.CurrDateSel;
}

<h2>Schedules</h2>
<link href="~/Content/tags/jquery.tagit.css" rel="stylesheet" />
<link href="~/Content/tags/tagit.ui-zendesk.css" rel="stylesheet" />
<div class="container text-center" id="dvSchedule">
    <a href="javascript:void(0);" class="glyphicon glyphicon-chevron-left" style="font-size:x-large" id="navLeft"  title="Previous day"><i></i></a>
    <span style="background-color:gold;font-size:large" id="scheduleDate">@currDt</span>
    <a href="javascript:void(0);" class="glyphicon glyphicon-chevron-right" style="font-size:x-large" id="navRight" title="Next day"><i></i></a>
</div>
<br />
<div class="container" id="CandidatesPartial">
    <div class="row">
        <div class="col-md-12">
            <div id="searchResults"> @Html.Partial("SearchResults",Model) </div>
        </div>
    </div>
</div>

<div class="modal fade" id="StatusModal" tabindex="-1" role="dialog" aria-labelledby="StatusModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Re-Schedule An Interview For - <b><span class="candidate-name"></span></b> </h4>
            </div>
            <div class="modal-body">
                <div class="form-group form-group-required">
                    <input name="tags" type="hidden" id="sendTo" value="">
                    @Html.Label("Date", new { @class = "col-md-2 control-label" })
                    <div class='col-sm-4'>
                        <input type='text' class="form-control" id='txtdatetimepicker' />
                    </div>
                    @Html.Label("Length", new { @class = "col-md-2 control-label", @title = "Please choose the length of the schedule." })
                    <div class='col-sm-4'>
                        <select id="ddlScheduleLength" name="ddlScheduleLength" class="form-control">
                            <option value="">Schedule</option>
                            <option value="30">30 Mins</option>
                            <option value="60">60 Mins</option>
                        </select>
                    </div>
                </div>
                <br />
                <br />
                <div class="form-group form-group-required">
                    @Html.Label("Email To", new { @class = "col-md-2 control-label" })
                    <div class='col-sm-9'>
                        <ul id="singleFieldTags"></ul>
                    </div>
                </div>
                <br />
                <br /><br />
                <br />
                <div class="form-group form-group-required">
                    @Html.Label("Comments", new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.TextArea("Comments", new { @id = "txtStsComments", @class = "textarea-input-custom", @required = "mandatory" })
                    </div>
                </div>
                <br />
                <br />
            </div>
            <div class="modal-footer">
                <div class="pull-left"><span class="text-danger" id="errMsgModal"><small>If you don't save, your changes will be lost.</small></span></div>
                <div class="pull-right">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Close</button>
                    <button id="btnStatus" onclick="fnBtnStatusClick()" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/tags/tag-it.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>

<script lang="ja" type="text/javascript">
    $(document).ready(function () {

        $(function () {
            $('#txtdatetimepicker').datetimepicker();
        });

        //-------------------------------
        // Single field
        //-------------------------------
        var sampleTags = ['c++', 'java'];
        $('#singleFieldTags').tagit({
            availableTags: sampleTags,
            // This will make Tag-it submit a single form value, as a comma-delimited field.
            singleField: true,
            singleFieldNode: $('#sendTo')
        });

        window.myPanel = function (data) {
            $(".candidate-name").text(data.dataset.customName);
            $("#hdnCandidateId").val(data.dataset.customValue);
            $("#hdnStatusId").val(data.dataset.customStatusid);
            $("#txtStsComments").val('');

            $('#txtdatetimepicker').datetimepicker();
            $('#singleFieldTags').tagit({
                availableTags: sampleTags,
                // This will make Tag-it submit a single form value, as a comma-delimited field.
                singleField: true,
                singleFieldNode: $('#sendTo')
            });
        };

        window.fnBtnStatusClick = function () {
            if ($("#txtdatetimepicker").val() == "") {
                $("#errMsgModal").text("Please schedule a date.");
                $("#txtdatetimepicker").focus();
                return false;
            }
            else if ($("#ddlScheduleLength").val() == "") {
                $("#errMsgModal").text("Please select a length(duration).");
                $("#ddlScheduleLength").focus();
                return false;
            }
            else if ($("#sendTo").val() == "") {
                $("#errMsgModal").text("Please enter an email id.");
                return false;
            }
            else if ($("#txtStsComments").val() == "") {
                $("#errMsgModal").text("Please write a comments to change.");
                $("#txtStsComments").focus();
                return false;
            }
            else {
                $.get("/Candidate/ScheduleCandidate", { id: $("#hdnCandidateId").val(), date: $("#txtdatetimepicker").val(), length: $("#ddlScheduleLength").val(), sendTo: $("#sendTo").val(), comments: $("#txtStsComments").val(), statusId: $("#hdnStatusId").val(), reSch:"true" },
                    function (data) {
                        var id = $("#hdnCandidateId").val();
                        $("#schTxt_" + id).text(data);
                    });

                $("#btnStatus").attr("data-dismiss", "modal");
            }
        };

        var url = "/Appointment/SearchResults";
        $('#navLeft').click(function () {
            var dateSplit = $('#scheduleDate').text().split("-");
            objdate = new Date(dateSplit[1] + " " + dateSplit[0] + ", " + dateSplit[2]);
            if (objdate) {
                objdate.setDate(objdate.getDate() - 1);
                var formtDate = getFormattedDate(objdate.toLocaleDateString());
                $('#scheduleDate').text(formtDate);
                $.ajax({
                    url: url,
                    data: { scheduleDt: formtDate },
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    dataType: 'html'
                })
                .success(function (result){
                    //alert(result)
                    $('#searchResults').html(result);
                })
                .fail(function (xhr,status) {
                    alert(status);
                })
            }
        });

        $('#navRight').click(function () {
            var dateSplit = $('#scheduleDate').text().split("-");
            objdate = new Date(dateSplit[1] + " " + dateSplit[0] + ", " + dateSplit[2]);
            if (objdate) {
                objdate.setDate(objdate.getDate() + 1);
                var formtDate = getFormattedDate(objdate    .toLocaleDateString());
               $('#scheduleDate').text(formtDate);
               $.ajax({
                   url: url,
                   data: { scheduleDt: formtDate },
                   contentType: 'application/html; charset=utf-8',
                   type: 'GET',
                   dataType: 'html'
               })
                .success(function (result) {
                    //alert(result)
                    $('#searchResults').html(result);
                })
                .fail(function (xhr, status) {
                    alert(status);
                })
            }
        });

        window.getFormattedDate = function(data) {
            var sptdate = String(data).split("/");
            var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            var myMonth = sptdate[0];
            var myDay = sptdate[1];
            var myYear = sptdate[2];
            var combineDatestr = myDay + "-" + months[myMonth - 1] + "-" + myYear;
            return combineDatestr;
        };
    });
</script>
}