@model HRPortal.CANDIDATE

@{
    ViewBag.Title = "De-Activate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">De-Activate Candidate</h2>

<h3>Are you sure you want to de-activate this?</h3>
<div>
    @*<h4>CANDIDATE</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("CANDIDATE NAME")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANDIDATE_NAME)
        </dd>

        <dt>
            @Html.DisplayName("JOB ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JOB_ID)
        </dd>

        <dt>
            @Html.DisplayName("TOTAL EXPERIENCE")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YEARS_OF_EXP_TOTAL)
        </dd>

        <dt>
            @Html.DisplayName("RELEVANT EXPERIENCE")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YEARS_OF_EXP_RELEVANT)
        </dd>

        <dt>
            @Html.DisplayName("MOBILE")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOBILE_NO)
        </dd>

        <dt>
            @Html.DisplayName("ALTERNATE MOBILE NO")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALTERNATE_MOBILE_NO)
        </dd>

        <dt>
            @Html.DisplayName("EMAIL")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayName("ALTERNATE EMAIL")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALTERNATE_EMAIL_ID)
        </dd>

        <dt>
            @Html.DisplayName("DOB")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayName("CURRENT COMPANY")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CURRENT_COMPANY)
        </dd>

        <dt>
            @Html.DisplayName("NOTICE PERIOD")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOTICE_PERIOD)
        </dd>

        <dt>
            @Html.DisplayName("COMMENTS")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMMENTS)
        </dd>

        <dt>
            @Html.DisplayName("IS IN NOTICE PERIOD?")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISINNOTICEPERIOD)
        </dd>

        <dt>
            @Html.DisplayName("STATUS")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISACTIVE)
        </dd>

        <dt>
            @Html.DisplayName("LAST MODIFIED BY")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFIED_BY)
        </dd>

        <dt>
            @Html.DisplayName("LAST MODIFIED ON")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFIED_ON)
        </dd>

        <dt>
            @Html.DisplayName("SUBMITTED BY")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_BY)
        </dd>

        <dt>
            @Html.DisplayName("SUBMITTED ON")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_ON)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-group form-group-required">
            @Html.LabelFor(model => model.COMMENTS, "COMMENTS FOR THIS ACTION", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.COMMENTS, new { @class = "textarea-input-custom", @required = "mandatory" })
                @Html.ValidationMessageFor(model => model.COMMENTS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-actions no-color">
            <input type="submit" value="De-Activate" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index","Home")
        </div>
    }
</div>
