@model HRPortal.CANDIDATE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isActive = (Model.ISACTIVE == true ? "Active" : "In-Active");
    var dob = (Model.DOB.ToString("dd-MMM-yyyy"));
    var isNP = Model.ISINNOTICEPERIOD == true ? "Yes" : "No";
}

<h2 align="center">Candidate Details</h2>

<div>
    @*<h4>CANDIDATE</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("CANDIDATE NAME")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANDIDATE_NAME)
        </dd>
        
        <dt>
            @Html.DisplayName("TOTAL EXPERIENCE")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YEARS_OF_EXP_TOTAL)
        </dd>

        <dt>
            @Html.DisplayName("MOBILE NO")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOBILE_NO)
        </dd>

        <dt>
            @Html.DisplayName("EMAIL")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayName("DOB")
        </dt>

        <dd>
            @dob
        </dd>

        <dt>
            @Html.DisplayName("CURRENT COMPANY")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CURRENT_COMPANY)
        </dd>


        <dt>
            @Html.DisplayName("CURRENT LOCATION")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CURRENT_LOCATION)
        </dd>

        <dt>
            @Html.DisplayName("IS IN NOTICE PERIOD?")
        </dt>

        <dd>
            @isNP
        </dd>

        <dt>
            @Html.DisplayName("NOTICE PERIOD")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOTICE_PERIOD)
        </dd>

        <dt>
            @Html.DisplayName("LAST WORKING DATE")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_WORKING_DATE)
        </dd>

        <dt>
            @Html.DisplayName("COMMENTS")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.COMMENTS)
        </dd>
        <dt>
            @Html.DisplayName("STATUS COMMENTS")
        </dt>
        <dd>
            @ViewBag.StatusComments
        </dd>
        
        <dt>
            @Html.DisplayName("STATUS")
        </dt>

        <dd>
            @isActive
        </dd>

        <dt>
            @Html.DisplayName("RELEVANT EXPERIENCE")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YEARS_OF_EXP_RELEVANT)
        </dd>

        <dt>
            @Html.DisplayName("ALTERNATE EMAIL")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALTERNATE_EMAIL_ID)
        </dd>

        <dt>
            @Html.DisplayName("ALTERNATE MOBILE")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALTERNATE_MOBILE_NO)
        </dd>

        <dt>
            @Html.DisplayName("LAST MODIFIED BY")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFIED_BY)
        </dd>

        <dt>
            @Html.DisplayName("LAST MODIFIED ON")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFIED_ON)
        </dd>

        <dt>
            @Html.DisplayName("SUBMITTED BY")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_BY)
        </dd>

        <dt>
            @Html.DisplayName("SUBMITTED ON")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_ON)
        </dd>

    </dl>
</div>
<p>
    @if (Request.QueryString.Count > 0 && Request.QueryString.Count > 1 && Request.QueryString["styp"] == "H")
    {
        @Html.ActionLink("Back to List", "Index", "Home",new { page= Request.QueryString["p"]},null) 
    }
    else if (Request.QueryString.Count > 0 && Request.QueryString.Count > 1 && Request.QueryString["styp"] == "S")
    { @Html.ActionLink("Back to List", "SquadJobs", "Candidate", new { page = Request.QueryString["p"] }, null)
    }
    else { @Html.ActionLink("Back to List", "Index", new { page = Request.QueryString["p"] })}
</p>
