@using System.Web.Mvc;
@using HRPortal.Helper;

@model IEnumerable<HRPortal.Models.StagingReportViewModel>
@using HRPortal.Models
@{
    bool isSuperAdmin = HelperFuntions.HasValue(CookieStore.GetCookie(CacheKey.RoleName.ToString())).ToUpper().Contains("ADMIN") ? true : false;
}
@if (ViewBag.WeekList)
{
    @Html.Label("Week", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("Week", new List<SelectListItem>
        {
        new SelectListItem {Text="1-2 Weeks (8-14 days)",Value="1week",Selected=true },
        new SelectListItem {Text="2-3 Weeks (15-21 days)",Value="2week" },
        new SelectListItem {Text=">3 Weeks (>22 days)",Value="3week" } },
    new { @onchange = "weekChangeStgEvent(this.value)" })
       
    </div>
}

<div class="container" id="StagingPartial">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">

                @if (Model != null)
                {
                    <table class="table table-striped table-hover table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    POSITION NAME
                                </th>
                                @if (ViewBag.partner)
                                {
                                    <th>
                                        PARTNER NAME
                                    </th>
                                }
                                <th>
                                    SCREENING
                                </th>
                                <th>
                                    ROUND 1
                                </th>
                                <th>
                                    ROUND 2
                                </th>
                                <th>
                                    ROUND 3
                                </th>
                                @if (ViewBag.Offered)
                                {
                                    <th>
                                        OFFERED
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td align="left">
                                        @item.Position_Name
                                    </td>
                                    @if (ViewBag.partner)
                                    {
                                        <td align="left">
                                            @item.Partner_Name
                                        </td>
                                    }
                                    <td align="center">
                                        @item.Screening
                                    </td>
                                    <td align="center">
                                        @item.Round1
                                    </td>
                                    <td align="center">
                                        @item.Round2
                                    </td>
                                    <td align="center">
                                        @item.Round3
                                    </td>
                                    @if (ViewBag.Offered)
                                    {
                                        <td align="center">
                                            @item.Offered
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
