@model HRPortal.Models.HistoryViewModels
@using HRPortal.Helper;
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/sb-admin-2.css" rel="stylesheet" />
<link href="~/Content/timeline.css" rel="stylesheet" />

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" id="dtJobs">@Model.ToT_Active_Jobs</div>
                            <div>Active Jobs</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left" title="This is not functioning right now. Under progress." >View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-thumb-tack fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" id="dtPrgs">@Model.ToT_Candidates_PRGS</div>
                        </div>
                        <div class="text-right">Candidates - InProgress</div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left" title="This is not functioning right now. Under progress.">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" id="dtOfrd">@Model.ToT_Candidates_OFRD</div>
                        </div>
                        <div class="text-right">Candidates - Offered</div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left" title="This is not functioning right now. Under progress." >View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" id="dtJoined">@Model.ToT_Candidates_JOIN</div>
                        </div>
                        <div class="text-right">Candidates Joined</div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left" title="This is not functioning right now. Under progress.">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-close fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" id="dtRejected">@Model.ToT_Candidates_RJTD</div>
                        </div>
                        <div class="text-right">Candidates Rejected</div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left" title="This is not functioning right now. Under progress." >View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        
    </div>

    @using (Html.BeginForm())
    {
    <div class="">
        <div class="panel-group" id="SearchCriteriaPartial">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#">
                            <span data-toggle="collapse" href="#collapse1" id="CollapseMe" class="glyphicon glyphicon-plus"></span> Filters
                            </a>
</h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse form-horizontal table">
                    <div class="form-group panel-body">
                        <div class="col-md-11" align="center">
                            <br />
                                <div id="srchCandidates">
                                    <input type="text" id="txtPartner" placeholder="Partner" />
                                    <input type="text" id="txtPosition" placeholder="Position Name" />
                                    <input type="text" id="txtStDate" class="date-picker" placeholder="Start Date" />
                                    <input type="text" id="txtEndDate" class="date-picker" placeholder="End Date" />
                                    <a class="btn btn-danger btn-xs" id="btnSearch" onclick="getCount()">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
   
   <div class="">
            <marquee class="text-danger" width=400 height=20> *View Details - is not functioning right now. Under progress.</marquee>
        </div>
    
</div>

@section Scripts {
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script lang="ja" type="text/javascript">
        $(document).ready(function () {
            $('.date-picker').datetimepicker({
                format: 'MM/DD/YYYY'
            });
        });
        
    $('#CollapseMe').click(function () {
        $(this).hasClass('glyphicon-plus') ? $(this).removeClass('glyphicon-plus') && $(this).addClass('glyphicon-minus') : $(this).removeClass('glyphicon-minus')
        && $(this).addClass('glyphicon-plus');
    });
    
    $('#txtPosition').on('keyup', function () {
            getCount();
    });
    $('#txtPartner').on('keyup', function () {
            getCount();
    });

    $('#txtStDate').on('blur', function () {
        getCount();
    });
    $('#txtEndDate').on('blur', function () {
        getCount();
    });

    window.getCount = function () {
        $.get("/Dashboard/GetCount", { partner: $("#txtPartner").val(), position: $("#txtPosition").val(), stdt: $("#txtStDate").val(), edt: $("#txtEndDate").val() },
            function (data) {
                    $("#dtOfrd").text(data.ToT_Candidates_OFRD);
                    $("#dtPrgs").text(data.ToT_Candidates_PRGS);
                    $("#dtJoined").text(data.ToT_Candidates_JOIN);
                    $("#dtRejected").text(data.ToT_Candidates_RJTD);
            });
    };

    </script>
}